/* You can add global styles to this file, and also import other style files */


*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a{
  cursor: pointer;
}

body{
    height: 100vh;
}

.application{
    display: flex;
    height: 100%;
}

.application .main
{
    flex: 1;
    height: inherit;
    padding: 40px;
}

.mat-mdc-dialog-surface.mdc-dialog__surface{
  padding-left: 40px;
  padding-right: 40px;
}

.delete-btn{
  background: yellow;
  padding: 10px;
  display: inline-block;
}

.custom-dialog-panel{
  min-width: 300px;
  min-height: 300px;
}

.dialog-content{
  display: flex !important;
  justify-content: center !important;
}

.mat-card-content, .content{
  display: flex;
}

.mat-card-content > div, .content > div{
  flex: 1;
}




@media screen and (max-width: 768px) {
    .application{
        display: block;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
