/* You can add global styles to this file, and also import other style files */


*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
    height: 100vh;
}

.application{
    display: flex;
    height: 100%;
}

.application .main
{
    flex: 1;
    height: inherit;
}

@media screen and (max-width: 768px) {
    .application{
        display: block;
    }
}